// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-parent
  background-image: linear-gradient(-47deg, #DA0071 0%, #1B00C5 100%)
  position: fixed

.bespoke-parent::before
  background-image: url("http://www.monoku.com/assets/images/image_back.png")
  background-position: center
  background-size: cover
  bottom: 0
  content: ""
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: -1

.glitch
  color: white
  font-size: 100px
  position: relative
  width: 400px
  margin: 0 auto

h5
  font-size:100px
  position:relative
  font-family: 'Source Sans Pro', Arial, sans-serif

/*
text-shadow originated from: http://codepen.io/zitrusfrisch
*/
.superShadow
  text-shadow:     0 1px 0 hsl(174,5%,80%),
                   0 2px 0 hsl(174,5%,75%),
                   0 3px 0 hsl(174,5%,70%),
                   0 4px 0 hsl(174,5%,66%),
                   0 5px 0 hsl(174,5%,64%),
                   0 6px 0 hsl(174,5%,62%),
                   0 7px 0 hsl(174,5%,61%),
                   0 8px 0 hsl(174,5%,60%),

                   0 0 5px rgba(0,0,0,.05),
                  0 1px 3px rgba(0,0,0,.2),
                  0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.2),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.3);

.img-front
  width: 200px
  heigth: 200px
  border-radius: 50%


.panel1
  width: 22%
  background-color: white
  heigth: 100%
  padding: 10px
  border-radius 50%

 .text1
  width: 700px
  background-color: #f92672
  top: 41%
  left: 13%
  position: absolute
  z-index: -1
  height: 165px
  border-radius: 5px

#banner
  position:relative
  -webkit-backface-visibility:hidden
  width:300px
  height:250px
  background:white
  overflow:hidden
  float:left


.panel
  position:absolute
  width:300px
  height:250px
  overflow:hidden

#panel1
  background: #a02600

#panel2
  top:260px;
  background: url(//greensock.com/forums-support-files/burgerboy/burger.jpg)


#panel1 h1
  position: relative
  font-size:40px
  line-height:240px
  text-align:center
  width:300px


#panel2 h2
  margin: 0
  position: absolute
  top: 188px
  width: 260px
  font-size: 22px
  text-align: center
  padding: 20px
  background: #a02600

#panel3
  top:520px


#panel3 #info
  position:absolute
  top:125px
  width:100%
  padding:10px
  height:125px
  background: #a02600

#panel3 h1
  font-size:34px
  font-weight:700
  letter-spacing: 1px


#panel3 li
  position:relative
  margin-top:10px
  color: #ffa488

#panel3 #orderNow
  position:absolute
  top:60px
  left:180px
  background:#ffc600
  color:#000
  font-size:16px
  font-weight:bold
  padding:10px
  border-radius:10px
  border: 4px solid transparent

#panel3 #orderNow:hover
  background:#ffaa00
  border: 4px solid #fff
  cursor: pointer


