doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title monoku
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body

    article

      section
        h5 MONOKU'S
        h5 FRONT
        h5 TEAM

      section
        <h2 style='margin-bottom: 300px;'> this are the fronts of monoku !!</h2>

        <div class='panel1' id='panel1'>
        <img class="img-front" src="https://avatars0.githubusercontent.com/u/18728297?v=3&u=48e33f3d3939a798e30813d470bf417161db295a&s=400">
        </img>
        <div class='description1' id='description1'>
        <p class='namefront' id='namefront'>Brian Cortes Almonacid</p>
        </div>
        </div>

        <div class='panel1' id='panel2'>
        <img class="img-front" src="https://pbs.twimg.com/profile_images/790369273315201025/LSwj1xMQ.jpg">
        </img>
        <div class='description1' id='description2'>
        <p class='namefront' id='namefront2'>Luis Villalobos</p>
        </div>
        </div>

        <div class='panel1' id='panel3'>
        <img class="img-front" src="https://pbs.twimg.com/profile_images/775824879627141120/D-kYSICE.jpg">
        </img>
        <div class='description1' id='description3'>
        <p class='namefront' id='namefront3'>Andres Hernandez</p>
        </div>
        </div>

        <div class='panel1' id='panel4'>
        <img class="img-front" src="https://files.slack.com/files-tmb/T024GQUC6-F4WTUBYT1-f83e66d5eb/master_gif_360.gif">
        </img>
        <div class='description1' id='description4'>
        <p class='namefront' id='namefront4'>Andres Alarcon</p>
        </div>
        </div>

        <div class='panel1' id='panel5'>
        <img class="img-front" src="https://pbs.twimg.com/profile_images/707393602977206276/j5_Q_mRG.jpg">
        </img>
        <div class='description1' id='description5'>
        <p class='namefront' id='namefront5'>Jonathan Rojas</p>
        </div>
        </div>

        <div class='panel1' id='panel6'>
        <img class="img-front" src='images/turbaco.png'>
        </img>
        <div class='description1' id='description6'>
        <p class='namefront' id='namefront6'>Miguel Martínez</p>
        </div>
        </div>

      section
        h2 front-end
        h2.bullet developer
        <img src='http://www.robertlowe.ca/images/developer.png' width='200px' height='200px'><img/>
        p.bullet.about__front1 browser
        p.bullet.about__front2 html
        p.bullet.about__front3 css
        p.bullet.about__front4 javascript

      section
        <div class = 'atomic_Design'>
        </div>
        h2 Atomic Design

      section
        img(src='http://bradfrost.com/wp-content/uploads/2015/12/atomic-gif-3.gif' width='500px' height='400px' )
      
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
